= nav_bar brand: "Boudreaux", responsive: true do
  = menu_group do
    = menu_item "Home", root_path
    = menu_divider
    = drop_down "Game" do
      = menu_item "New Game", games_path, method: 'post' 
    = menu_divider
    = menu_item "About Us", root_path
    = menu_item "Contact", root_path
  = menu_group pull: :right do
    - if current_user
      = menu_item "Log Out", destroy_user_session_path, method: 'delete'
